h1 {
    background-color: rgb(79, 91, 197);
    text-align: center;
}

header {
    color: white;
}

.row-cols-5 {
    margin-top: 250px;
    margin-left: 200px;
}

.border-primary {
    background-color: rgb(29, 29, 74);
    color: white;
}


/* need to figure out how to put in row */
/* .shape {  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: 100px;
} */